body {
    margin: 0;
    font-family: serif;

[data-scroll-container] {

    background-image: url('papyrus-texture.jpg');
    
    background-attachment: local;
    background-size: cover;
    color: #3a2a1a; 
}

.step {
    min-height: 100vh;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}


.step h1 {
    font-size: 5rem;
}
.step h2 {
    font-size: 3.5rem;
}
.step p {
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
}
